@import url(../css/fonts.css);

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Quicksand';

}

body,
html {
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
    padding: 0;
}

.w33 {
    width: calc(33% - 10px);
}

.w50 {
    width: calc(50% - 12px);
}

h2 {
    font-family: 'Aku & Kamu';
}

.container {
    max-width: 1270px;
    width: 100%;
    height: 100%;
}

.navbar_section {
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.15);
    height: 100px;

    .navbar-collapse {
        justify-content: space-between;
        align-items: center;

    }

    .navbar {
        padding: 0;
        height: 100px;

    }

    .navbar-nav {
        max-width: 388px;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .expend_logo {
        display: none;
    }

    .navbar-nav.link_item {
        max-width: 366px;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .logo_img {
        max-width: 262px;
        width: 100%;

        img {
            position: absolute;
            height: 120px;
            top: 0;
        }
    }

    .navbar-nav .nav-link {
        padding: 0;
        color: #1E1E1E;
        font-size: 18px;
        font-weight: 400;
        line-height: 1.4;
    }

    .navbar-nav .nav-link:hover {
        color: #F02801;
    }

    svg {
        width: 25px
    }

}

.header_section {
    background: url('../img/background_img.png') center center/cover;
    background-repeat: no-repeat;
    height: calc(100vh - 100px);
    position: relative;


    .inner_header {
        display: flex;
        justify-content: space-between;
        padding-top: 66px;
        height: calc(100% - 66px);

    }

    .content_header {
        max-width: 518px;
        width: 100%;
        // .header_btn {
        //     max-width: 190px;
        //     width: 100%;
        //     height: 59px;
        //     display: flex;
        //     align-items: center;
        //     justify-content: center;
        //     background-color: #F02801;
        //     color: #fff;
        //     text-decoration: none;
    
        // } 
    
    }

    h2 {

        color: #323232;
        font-size: 66px;
        font-weight: 400;

        span {
            color: #F02801;
        }
    }

    .header_img img {
        max-width: 760px;
        width: 100%;
        position: absolute;
        bottom: 0;
        right: 0;


    }

    .form-control {
        border: none;
        border-bottom: 1px solid rgba(240, 40, 1, 0.6);
        background-color: transparent;
        border-radius: 0px;
        color: rgba(240, 40, 1, 0.3);
        padding: 15px 0px 15px 0px;
    }

    .form-control:focus {
        box-shadow: none;
    }

}

.collection_section {
    margin-top: 127px;

    h2 {
        color: #F02801;
        font-size: 46px;
        font-weight: 400;
        text-align: center;

    }

    p {
        color: #5F5F5F;
        text-align: center;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        max-width: 820px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 9px;
        margin-bottom: 54px;
    }
}

.wrap {
    position: relative;


}

.slick-slider .slick-list {
    padding: 0px !important;
}

.item.slick-slide.slick-center h2 {
    display: block;

}

.arrow_svg .slick-arrow {
    display: flex;
}

.wrap:after {
    content: '';
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.slider {
    position: relative;
    z-index: 200;
    padding: 0 0px;
    max-width: 100%;
    width: 100%;

}

.arrow_svg {
    position: absolute;
    justify-content: space-between;
    width: calc(100vw - 50px);
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;

    .slick-arrow {
        width: 27px;
        height: 27px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #F02801;
        ;


    }

    .slick-arrow svg {
        stroke: #FFF;
    }

    path {
        stroke: #FFF;
        fill: #FFF;
        cursor: pointer;
    }

    .slick-arrow.slick-disabled {
        // border: 0.5px solid #0262fe;
        background-color: #FFF;

        .slick-arrow svg {
            stroke: #F02801;
            ;
        }

        path {
            stroke: #F02801;
            fill: #F02801;
            cursor: pointer;
        }
    }

}

.item.slick-slide {
    max-width: 400px;
    width: 100%;
    transition: transform .4s;
    position: relative;

    h2 {
        color: #FFF;
        cursor: pointer;
        position: absolute;
        top: 50%;
        font-size: 28px;
        left: 50%;
        display: none;
        transform: translate(-50%, -50%);
    }
}

// .slick-slide:after {
//     content: '';
//     position: absolute;
//     z-index: -1;
//     top: 0;
//     left: 0;
//     right: 0;
//     bottom: 0;
//     // border: solid 1px #979797;
//     // background-color: rgba(255, 255, 255, 0.11);
//     transition: transform .4s;
// }

.item.slick-slide {
    transform: scale(0.7) translate(525px);
}

.slick-slide.slick-current {
    opacity: 1;
}

.item.slick-slide.slick-center+.slick-slide {
    transform: scale(0.8) translate(-160px);
    z-index: 10;
}

.item.slick-slide.slick-center+.slick-slide+.item.slick-slide {
    transform: scale(0.7) translate(-525px);
    z-index: 5;
}

.item.slick-slide.slick-active {
    transform: scale(0.8) translate(160px);
}

.item.slick-slide.slick-center {
    transform: scale(1);
    z-index: 30;
    position: relative;

    &::before {
        content: "";
        background-color: rgba(0, 0, 0, 0.5);
        width: 100%;
        height: 100%;
        position: absolute;
    }

    img {
        width: 100%;
    }
}

.slick-center .img {
    display: inline-block;
}

.Abou_us_section {
    background: url('../img/about_img.png') center center/cover;
    background-repeat: no-repeat;
    margin-top: 106px;


    .inner_about {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .about_cover_img {

        .main_cover {

            position: relative;
            transform: translateY(10%);
        }

    }

    .about_btn {
        max-width: 190px;
        width: 100%;
        height: 59px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #F02801;
        color: #fff;
        text-decoration: none;
        transition: all 0.5s;

    }

    .about_btn:hover {
        border: 1px solid #F02801;
        background-color: transparent;
        // color: #F02801;
    }



    h2 {
        color: #F02801;
        font-size: 46px;
        font-weight: 400;
    }

    p {
        padding-top: 8px;
        padding-bottom: 20px;
        color: #FFF;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5;
    }
}

.sale_car_section {
    .inner_sale_car {
        display: flex;
        justify-content: space-between;
        align-items: end;
        background: url('../img/Mask_Group.png') center center;
        background-repeat: no-repeat;
        margin-top: 191px;
        background-size: cover;
        width: 100%;
    }


    .car_sale_png {
        max-width: 610px;
        width: 100%;

        // img {
        //     position: relative;
        //     transform: translateY(14%);
        // }
    }

    .sale_car_content {

        padding: 65px 100px 65px 0;

        h2 {
            color: #FFF;
            font-size: 56px;
            font-weight: 400;
            line-height: 1.2;
        }

        span {
            color: #FFF;
            font-size: 18px;

            font-weight: 400;
            line-height: 1.4;
        }

        .car_sale_btn {
            display: flex;
            align-items: center;
            justify-content: center;
            color: #F12902;
            font-size: 18px;
            font-weight: 400;
            width: 190px;
            height: 59px;
            text-decoration: none;
            border-radius: 70px;
            background: #FFF;
            margin-top: 23px;
            transition: all 0.6s ease-in;
        }

        .car_sale_btn:hover {
            border: 1px solid #FFF;
            background: transparent;
            color: #fff;
        }
    }
}

.safe_car {
    margin-top: 105px;

    .inner_safe_car {
        display: flex;

        align-items: center;
    }

    .Respon_car {
        max-width: 400px;
        width: 100%;

        span {
            color: #000;
            opacity: 0.5;
            font-size: 18px;
            font-weight: 500;
            line-height: 1;
        }

        h2 {
            color: #F12902;
            font-size: 46px;
            font-weight: 400;
            text-transform: uppercase;
            padding-bottom: 26px;
            line-height: 1;

        }

        p {
            color: #343434;

            font-size: 18px;
            font-weight: 500;
            line-height: 1.3;
            padding-bottom: 7px;
        }

        .light_write {
            color: #5F5F5F;
            font-size: 18px;
            font-weight: 300;
            padding-bottom: 16px;
            line-height: 1.4;
        }
    }

    .vertor_car {
        display: flex;
        flex-direction: column;
        gap: 30px;

        span {
            color: #000;
            font-size: 16px;
            // margin-left: 15px;
            font-weight: 300;
            line-height: 1.4;
        }

        .inline {
            display: flex;
            align-items: center;
            gap: 15px;
        }
    }

    .respon_img {
        max-width: 425px;
        width: 100%;
    }

    .car_rating {
        .car_rates {
            padding-bottom: 53px;

            // padding-top: 53px;
            &:last-child {
                padding-bottom: 0px;
            }

            //     &+ .car_rates{
            //    padding-top: 50px;
            //     }
        }


        h3 {
            color: #F12902;
            text-align: center;
            font-size: 46px;
            font-weight: 500;
            font-family: 'Gilroy';

        }

        h2 {
            color: #323232;
            font-size: 36px;
            text-align: center;
            font-weight: 400;
            line-height: 1.4;
        }

        p {
            color: #5F5F5F;
            text-align: center;
            font-size: 18px;
            font-weight: 400;
            line-height: 1.4;

        }
    }
}

.car_of_month {
    margin-top: 127px;

    h2 {
        color: #F12902;
        font-size: 46px;
        font-weight: 400;
        line-height: 1.5;
        text-align: center;
    }

    p {
        max-width: 820px;
        margin: auto;
        color: #000;
        text-align: center;
        font-size: 18px;
        font-weight: 400;
        line-height: 1.4;
    }

    .car_cards {
        border: 1px solid #F02801;
        padding: 20px;

        h2 {
            color: #F12902;
            font-size: 24px;
            font-weight: 400;
            text-align: start;
            line-height: 116.667%;
            padding-top: 37px;
        }

        .car_card_img img {
            width: 100%;
        }

        p {
            color: #000;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            text-align: start;
            line-height: 1.4;
        }
    }

    .inner_cards {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 55px;
    }
}

.rent_car {
    background: rgba(240, 40, 1, 0.05);
    margin-top: 125px;
    position: relative;
    margin-bottom: 111px;

    .inner_rent {
        display: flex;
        padding: 58px 0;

    }

    .rent_content {
        max-width: 610px;
        width: 100%;

        h2 {
            color: #F12902;
            font-size: 46px;
            font-weight: 400;
            line-height: 1.5;
        }

        span {
            color: #000;
            font-size: 18px;
            font-weight: 400;

        }

        .rent_btn {
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            color: #FFF;
            font-size: 18px;
            font-weight: 400;
            background: #F02801;
            width: 190px;
            height: 59px;
            margin-top: 43px;

        }
    }

    .form-control {
        border: none;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        background-color: transparent;
        border-radius: 0px;
        color: rgba(0, 0, 0, 0.3);
        padding: 15px 0px 15px 0px;
    }

    .form-control:focus {
        box-shadow: none;
    }



    .rent_img {
        position: absolute;
        right: 0;
        max-width: 650px;
        width: 100%;
        transform: translateY(-50%);
        top: 50%;
    }
}

.clear_pricing {
    margin-top: 115px;

    h2 {
        color: #F02801;
        text-align: center;
        text-transform: uppercase;
        font-size: 46px;

        font-weight: 400;
        line-height: 82.609%;
    }

    .inner_parice_card {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 63px;
        max-width: 920px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .pricing_card {
        background: #FFF;
        box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.15);
        padding: 30px 0;

        h2 {
            color: #F02801;
            font-size: 66px;
            font-weight: 400;
            line-height: 1;
            padding-top: 18px;
            padding-bottom: 8px;

        }

        p {
            color: #000;
            text-align: center;
            font-size: 18px;
            font-weight: 400;
            line-height: 211.111%;

        }

        .card_now_btn {
            width: 188px;
            height: 59px;
            text-decoration: none;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid #F02801;
            color: #323232;
            font-size: 18px;
            font-weight: 400;
            margin: auto;
            margin-top: 21px;
        }

        .card_now_btn:hover {
            background-color: #F02801;
            color: #FFF;
            transition: all 0.4s;
        }
    }

    .tile_img {
        background: url('../img/title_img.png');
        background-repeat: no-repeat;
        color: #FFF;
        max-width: 166px;
        background-size: contain;
        width: 100%;
        text-align: center;
        padding: 6px 0px;
        font-size: 18px;
        font-weight: 400;
    }

    // span {
    //     background: #F02801;
    //     width: 166px;
    //     height: 35px;
    //     display: flex;
    //     align-items: center;
    //     justify-content: center;
    //     color: #FFF;
    //     font-size: 18px;

    //     font-weight: 400;


    // }
}

.our_teams {
    margin-top: 120px;

    h2 {
        color: #F02801;
        text-align: center;
        font-size: 46px;
        font-weight: 400;
        line-height: 82.609%;

    }

    p {
        max-width: 650px;
        width: 100%;
        color: #000;
        text-align: center;
        font-family: Quicksand;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5;
        margin: auto;
        margin-top: 20px;
    }

    .inner_our_team {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 35px;
    }

    .our_team_card {
        background: url('../img/our_team_back.png');
        background-repeat: no-repeat;
        background-size: cover;
    }



    .our_team_conten {
        padding: 30px;



        h2 {
            color: #F02801;
            font-size: 24px;
            font-weight: 400;
            text-align: start;

        }

        p {
            color: #545454;
            font-size: 16px;
            font-weight: 400;
            text-align: start;
        }

        .our_team_arrow {
            width: 68px;
            height: 68px;
            background-color: #FFF;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            transform: translateY(35px);
        }
    }
}

.footer_section {
    background: #F02801;
    margin-top: 120px;

    .inner_footer {
        display: flex;
        justify-content: space-between;
        padding-top: 120px;
        flex-wrap: wrap;
        padding-bottom: 59px;
    }

    h2 {
        color: #FFF;
        font-size: 34px;
        font-weight: 400;

    }

    p {
        color: #FFF;
        font-size: 16px;
        font-weight: 400;
        max-width: 295px;
        width: 100%;
        padding-top: 21px;
    }

    ul li {
        list-style: none;
    }

    ul li a {
        text-decoration: none;
        color: #FFF;
        font-family: Quicksand;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.8;

    }

    .follow_us {
        h2 {
            color: #FFF;
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            margin-bottom: 5px;

        }

        a {
            text-decoration: none;
        }

        h6 {
            color: #FFF;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 1.5;
        }

        span {
            color: #FFF;
            font-size: 18px;
            font-weight: 400;
            margin-bottom: 20px;
            display: block;

        }
    }

    .contact_us {
        h2 {
            color: #FFF;
            font-size: 24px;
            font-weight: 400;
            line-height: 1.8;
            margin-bottom: 8px;
        }

        .fev {
            justify-content: center;
            align-items: center;
            gap: 20px;
        }

        .fev {
            margin-bottom: 25px;
            display: flex;
            align-items: center;
            text-decoration: none;

            span {
                color: #FFF;
                font-size: 18px;
                font-weight: 400;
            }
        }
    }

    h4 {
        color: #FFF;
        text-align: center;
        font-size: 18px;
        font-weight: 400;
        background: #C62000;
        padding: 38px 0;
    }
}

.arrow_wrap {
    position: relative;
    max-width: 76px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

    .slick-arrow {
        position: unset;
        transform: unset;
        width: 27px;
        height: 27px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #F02801;

        svg {
            height: 20px;
            width: 12px;
            stroke: #FFF;

            path {
                stroke: #FFF;
                fill: #FFF;
            }
        }

        &::before {
            display: none;

        }
    }
}

.slick_slider {
    .slick-disabled {
        border: 0.5px solid #F02801;
        background-color: #FFF;

        svg {
            stroke: #F02801;

            path {
                stroke: #F02801;
                fill: #F02801;
            }
        }
    }

    .slider_boxes {
        box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.15);
        padding: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        border-bottom: 4px solid #F02801;
        margin: 10px;
    }

    span {
        color: #000;
        opacity: 0.5;
        font-size: 24px;
        font-weight: 400;
        line-height: 116.667%;
    }

    h2 {
        color: #F02801;
        font-size: 46px;
        font-weight: 400;
        line-height: 1;
        max-width: 342px;
        width: 100%;
    }

    .line_x {
        background: #F02801;
        height: 1px;
        width: 100%;
    }
    .line_x:first-child{
        background: #000000;
        height: 1px;
        width: 100%;
        opacity: 0.3;
    }
    .line_x:last-child{
        background: #000000;
        opacity: 0.3;
        height: 1px;
        width: 100%;
    }

    .inner_contet {
        display: flex;
        align-items: center;
        gap: 40px;
        margin-top: 20px;
        margin-bottom: 68px;
        
    }
    .inner_contet:first-child {
        margin-bottom: 63px;
        margin-top: 0px;
    }

    .inner_slider {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .rating_star {
        display: flex;
        align-items: center;
        gap: 15px;
        padding-top: 24px;
    }

    .slider_boxes {
        h2 {
            color: #F02801;
            font-size: 24px;
            font-weight: 400;
            line-height: 116.667%;
            text-align: center;
            padding-top: 16px;
        }

        p {
            color: #545454;
            font-size: 16px;
            font-weight: 400;
            line-height: 175%;
            text-align: center;
            padding-top: 10px;
        }

        span {
            color: #000;
            font-size: 14px;
            font-weight: 400;
            line-height: 200%;

        }
    }
}

.slick-track {
    display: flex;
}
.slick_slider{

    .slick_logo_slider{
        margin-bottom: 0px;
        .logo_img{
            max-width: 130px;
            width: 100%;
            height: auto;
            margin: 0px 45px;
            img{
                height: 100%;
                object-fit: contain;
            }
        }
    }
}
/* Responsive part start */
/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
    .item.slick-slide.slick-center+.slick-slide+.item.slick-slide {
        transform: scale(0.7) translate(-585px);
        z-index: 5;
    }

    .item.slick-slide {
        transform: scale(0.7) translate(585px);
    }

    .arrow_svg {
        width: calc(100vw - 15px);
    }

    .navbar_section {
        height: 85px;
    }

    .item.slick-slide {
        max-width: 375px;
    }

    .navbar_section .navbar-collapse.show {
        left: 0;
    }

    .navbar_section .navbar {
        padding: 0;
        height: 85px;
    }

    .navbar_section .expend_logo {
        display: block;
        height: 100px;
        margin-left: auto;
    }

    .rent_car .rent_content {
        max-width: 511px;
        width: 100%;
    }

    .rent_car .rent_img {

        max-width: 495px;
        width: 100%;
    }

    .navbar_section .navbar-collapse {
        position: fixed;
        width: 300px;
        left: -300px;
        top: 0;
        background-color: #F02801;
        z-index: 1;
        padding: 20px;
        transition: all 0.4s;
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    .navbar_section .navbar-collapse {
        justify-content: start;
    }

    .navbar_section .navbar-nav .nav-item .nav-link {
        color: #FFF;
        font-size: 18px;
        padding: 0px;
    }

    .navbar_section .navbar .navbar-nav {
        margin: 0px;
        gap: 30px;
        text-align: center;
    }

    .navbar_section .logo_img img {
        display: none;
    }

    .navbar-toggler {
        margin-left: auto;
    }

    .navbar-toggler:focus {
        box-shadow: none;
    }

    .header_section {
        height: auto;
    }

    .header_section .header_img {
        margin-top: 40px;
    }

    .header_section .header_img img {

        position: unset;
    }

    .header_section .inner_header {
        flex-wrap: wrap;
        justify-content: center;
    }

    .safe_car .inner_safe_car {
        flex-wrap: wrap;
        justify-content: center;
    }

    .our_teams .inner_our_team {
        gap: 20px;
    }

    .our_teams .our_team_conten .our_team_arrow {
        margin-top: 25px;
    }
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
    .item.slick-slide {
        transform: scale(0.7) translate(620px);
    }

    .item.slick-slide.slick-center+.slick-slide+.item.slick-slide {
        transform: scale(0.7) translate(-620px);
        z-index: 5;
    }
    .slick_slider .slick_logo_slider .logo_img {
        max-width: 110px;
        margin: 0px 25px;
    }
    .header_section {
        height: 100vh;
    }

    .item.slick-slide {
        max-width: 320px;
    }

    .header_section .inner_header {
        justify-content: center;
    }

    .header_section .header_img img {
        position: unset;
    }

    .Abou_us_section {
        .about_content {
            padding: 20px 0px;
        }
    }

    .sale_car_section .sale_car_content .car_sale_btn {

        margin-top: 0;
    }

    .Abou_us_section .about_cover_img .main_cover {

        transform: translateY(0%);
        position: unset;
        width: 100%;
    }

    .sale_car_section .inner_sale_car {
        justify-content: center;
        flex-wrap: wrap;
        padding: 15px 0px;
    }

    .slick_slider h2 {
        font-size: 36px;
    }

    .sale_car_section .car_sale_png {
        max-width: 510px;
        width: 100%;
    }

    .sale_car_section .sale_car_content {
        display: flex;
        gap: 20px;
        align-items: center;
        justify-content: center;
        padding: 10px 0px;
    }

    .sale_car_section .sale_car_content .car_sale_btn {
        font-size: 16px;
        font-weight: 400;
        width: 160px;
        height: 59px;
    }

    .sale_car_section .sale_car_content h2 {
        font-size: 46px;
    }

    .Abou_us_section .inner_about {
        flex-wrap: wrap-reverse;
        padding: 15px;
    }

    .w50 {
        width: 100%;
    }

    .rent_car .inner_rent {
        flex-wrap: wrap;
        justify-content: center;
    }

    .rent_car .rent_img {
        position: unset;
        transform: translateY(0%);

    }

    .rent_car .rent_img {
        width: 100vw;
        margin-left: auto;
    }
}

/* mobile Phones small devices */
@media (max-width: 575.98px) {
    .w33 {
        width: 100%;
    }
    .slick_slider .slick_logo_slider .logo_img {
        margin: 0px 20px;
        max-width: 80px;
    }
    .slick_slider .inner_contet:first-child {
        flex-wrap: nowrap;
    }
    .item.slick-slide {
        transform: scale(0.7) translate(580px);
    }
    .collection_section h2 {
        font-size: 36px;
    }
    .collection_section p {
        font-size: 16px;
    }
    .clear_pricing h2 {
        font-size: 36px;
    }
    .clear_pricing .pricing_card h2 {
        font-size: 56px;
    }
    .arrow_svg {
        display: none;
    }

    .item.slick-slide {
        max-width: 250px;
    }

    .our_teams .our_team_conten .our_team_arrow {
        margin-top: 0px;
    }

    .slick_slider .inner_contet {
        flex-wrap: wrap;
    }

    .sale_car_section .car_sale_png {
        max-width: 270px;
    }

    .car_of_month .inner_cards {
        gap: 20px;
        flex-wrap: wrap;

    }

    .Abou_us_section .about_btn {
        max-width: 120px;
    }

    .Abou_us_section p {
        font-size: 16px;
    }


    .navbar_section {
        height: 62px;
    }

    .navbar_section .navbar {

        height: 60px;
    }

    .navbar_section svg {
        width: 15px;
    }

    .navbar_section .expend_logo {
        height: 75px;
    }

    .header_section h2 {
        font-size: 30px;
    }

    .Abou_us_section h2 {

        font-size: 36px;
    }

    .safe_car .Respon_car h2 {
        font-size: 36px;
    }
    .rent_car {
        margin-top: 65px;
    }
    .safe_car .inner_safe_car {
        gap: 20px;
    }
    .safe_car .Respon_car p {

        font-size: 16px;
    }

    .car_of_month {
        margin-top: 40px;
    }

    .car_of_month h2 {
        font-size: 36px;
    }

    .car_of_month p {

        font-size: 16px;
    }

    .Abou_us_section .inner_about {
        flex-wrap: wrap-reverse;

    }

    .rent_car .rent_content .rent_btn {
        font-size: 16px;
        width: 140px;
        height: 59px;
    }

    .clear_pricing .pricing_card .card_now_btn {
        width: 140px;
        font-size: 16px;
        height: 45px;
    }

    .header_img {
        margin-top: 12px;
    }

    .rent_car .rent_content h2 {

        font-size: 36px;

    }

    .rent_car .rent_content span {

        font-size: 16px;

    }

    .sale_car_section .sale_car_content .car_sale_btn {
        font-size: 16px;
        width: 190px;
        height: 47px;
        margin-top: 0px;
    }

    .rent_car .r1ent_content .rent_btn {

        font-size: 16px;
        width: 160px;
        height: 50px;

    }

    .our_teams h2 {
        font-size: 36px;
    }

    .our_teams p {
        font-size: 16px;

    }

    .Abou_us_section .inner_about {
        padding: 5px;
    }

    .Abou_us_section {
        margin-top: 65px;
    }

    .safe_car {
        margin-top: 70px;
    }

    .sale_car_section .sale_car_content .car_sale_btn {
        width: 120px;
        font-size: 12px;
        height: 47px;
        margin-top: 0px;
    }

    .sale_car_section .inner_sale_car {
        flex-wrap: wrap;
        margin-top: 80px;
    }

    .sale_car_section .sale_car_content {

        padding: 6px;
        display: flex;
        flex-wrap: wrap;
    }

    .sale_car_section .sale_car_img {
        margin-top: 70px;
    }

    .sale_car_section .sale_car_content h2 {
        font-size: 32px;
    }

    .w50 {

        width: 100%;
    }

    .rent_car .inner_rent {

        flex-wrap: wrap;
    }

    .clear_pricing .inner_parice_card {

        flex-wrap: wrap;
        gap: 20px;

    }

    .our_teams .inner_our_team {
        flex-wrap: wrap;
    }

    .footer_section p {
        max-width: 100%;

    }

    .footer_section .inner_footer {

        flex-direction: column;
        justify-content: center;

        text-align: center;
        gap: 20px;


    }

    .footer_section h4 {
        font-size: 16px;

        padding: 30px 0;
    }
}